 <!--Topside-->
    <div class="container">
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        Информация
                    </div>
                    <div class="card-body">
                        <marquee behavior="" direction="">
                            <h3 class="my-4">Система предназначена для автоматизации учета, контроля и управления IT-ресурсами в компьютерном центре.</h3>
                        </marquee>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        Статистика
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <a class="text-decoration-none text-dark" href="{%url 'dashboard-staff'%}">
                                    <div class="card my-card shadow text-center p-3">
                                        <h4>Сотрудники <i class="fas fa-users"></i></h4>
                                        <h3>{{ workers_count }}</h3>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a class="text-decoration-none text-dark" href="{%url 'dashboard-tasks'%}">
                                    <div class="card my-card shadow text-center p-3">
                                        <h4>Задачи <i class="fas fa-box"></i></h4>
                                        <h3>{{ tasks_count }}</h3>
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a class="text-decoration-none text-dark" href="{%url 'dashboard-execution'%}">
                                    <div class="card my-card shadow text-center p-3">
                                        <h4>Исполнение <i class="fas fa-shipping-fast"></i></h4>
                                        <h3>{{ executions_count }}</h3>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Topside-->